################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CustomerGreeter/bin/Debug
/CustomerGreeter/obj
/.vs
/packages
